table, td, th {  
    border: 1.5px solid #080606;
    font-family: 'Anek Malayalam', sans-serif;
    
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  p.right {
    font-family: 'Anek Malayalam', sans-serif;
    text-align: right;
  }
  
  @media print {
    #print {
      display: none;
    }
}